<div class="block"><p>sdfsdf</p></div>
    <div class="container-fluid">
        @*<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">*@
        <div class="row">
            <div class="cl-md-12 addcomment panel panel-white post panel-shadow">
                <h4><i class="fa fa-paper-plane-o"></i> Leave a Comment:</h4>
                <div [froalaEditor] [(froalaModel)]="editorContent"></div>

                <div class="submit">
                    <button type="submit" name="say" value="" class="btn"><i class="fa fa-reply"></i> Submit</button>
                </div>
            </div>
        
            <div class="col-md-12">
                <div class="panel panel-white post panel-shadow">
                    <div class="post-heading">
                        <div class="pull-left image">
                            <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                        </div>
                        <div class="pull-left meta">
                            <div class="title h5">
                                <a href="#"><b>Ryan Haywood</b></a>
                            </div>
                            <h6 class="text-muted date">12.12.2012</h6>
                        </div>
                    </div>
                    <div class="post-description">
                        <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                       
                    </div>
                </div>
            </div>
           
           
        </div>

    </div>