@*<p>onHoverRatingChangeResult: {{onHoverRatingChangeResult | json}}</p>
<p>onClickResult: {{onClickResult | json}}</p>
<p>onRatingChangeResult: {{onRatingChangeResult | json}}</p>*@

<div infinite-scroll
     [infiniteScrollDisabled]='infinitydisable'
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="300"
         (scrolled)="onScroll()">
    <div *ngFor="let instruction of instructions">
        <div class="panel panel-default">
            <div class="panel-header">
                <div class="row">
                    <span class="name col-md-8 col-lg-9 col-sm-7 col-xs-6">{{instruction.name}}  <small class="text-muted"> {{instruction.category.name}}</small></span>
                    <div class="rating col-md-4 col-lg-3 col-sm-5 col-xs-6">
                        <star-rating-comp class="hidden-xs" [starType]="'svg'"
                                          [step]="0.5"
                                          [speed]="'slow'"
                                          [size]="'large'"
                                          [rating]="instruction.rating"
                                          [staticColor]="'default'"
                                          [hoverEnabled]="true"
                                          (onClick)="onClick($event)"
                                          (onRatingChange)="onRatingChange($event)"
                                          (onHoverRatingChange)="onHoverRatingChange($event)">
                        </star-rating-comp>
                        <star-rating-comp class="visible-xs" [starType]="'svg'"
                                          [step]="0.5"
                                          [speed]="'slow'"
                                          [staticColor]="'default'"
                                          [hoverEnabled]="true"
                                          [rating]="instruction.rating"
                                          (onClick)="onClick($event)"
                                          (onRatingChange)="onRatingChange($event)"
                                          (onHoverRatingChange)="onHoverRatingChange($event)">
                        </star-rating-comp>

                    </div>
                </div>
                <div class="tag"><span class="glyphicon glyphicon-cloud"></span><small class="text-muted "> tag*tag*tag*tag*tag</small></div>
            </div>
            <div class="panel-body">
                <img class="img-responsive" src="http://minionomaniya.ru/wp-content/uploads/2015/10/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B8-%D0%B8%D0%B7-%D0%BC%D1%83%D0%BB%D1%8C%D1%82%D1%84%D0%B8%D0%BB%D1%8C%D0%BC%D0%B0-%D0%BC%D0%B8%D0%BD%D1%8C%D0%BE%D0%BD%D1%8B-2015.jpg">
                <div class="paneltextbody">
                    <p class="lead">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p><small class="text-muted ">{{ 'Create date' | translate:lang }}: {{instruction.createDate | date:'MM/dd/yyyy'}}  Author: {{instruction.author.lastName}} {{instruction.author.firstName}}</small></p>
                </div>
            </div>
            <div class="panel-footer">
                <small class="text-muted text-left">{{ 'Last updated' | translate:lang }} {{instruction.lastChangedDate  | date:'MM/dd/yyyy'}}</small>
                <a class="btn btn-default right">{{ 'Read more' | translate:lang }}</a>
            </div>

        </div>
    </div>
</div>