<div>
    <div class="modal-header">
        <h3>{{ 'DeleteUser' | translate:lang }}</h3>
    </div>
    <div class="modal-body " style="display:flex">
        <p>{{ 'TextDeleteUser' | translate:lang }}</p>
    </div>
    <div class="modal-footer">
        <button class="btn" style="margin-left:5px" (click)="load(true)">{{ 'Yes' | translate:lang }}</button>
        <button class="btn" style="margin-left:5px" (click)="load(false)">{{ 'No' | translate:lang }}</button>
    </div>
</div>