<div>
    <div class="modal-header">
       <h1>Удаление Пользователя</h1>
    </div>
    <div class="modal-body form-group" style="display:flex">
        <p>Вы точно хотите удалить этого пользователя. А также все данные что связаны с ним.</p>
        <button class="btn" style="margin-left:5px" (click)="load(true)">Да</button>
        <button class="btn" style="margin-left:5px" (click)="load(false)">Нет</button>
    </div>
</div>

