@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

            <div class="categories">
                <p>
                    <span>Caterories </span>
                    <select id="categories" class="form-control" ng-change="console.log(this.value)">
                        <option *ngFor="let title of titleArray" [value]="title">
                            {{title}}
                        </option>
                    </select>
                </p>
            </div>
            <ul style="visibility: visible;" class="nav nav-tabs ">
                <li data-toggle="tab" class="active">
                    <a [routerLink]="['child-content']"
                       [queryParams]="{'category':12, 'sort':'raiting'}" >Popular</a>
                </li>

                <li data-toggle="tab" class="">
                    <a [routerLink]="['child-content']"
                       [queryParams]="{'category':32, 'sort':'date'}">Last added</a>
                </li>
                <li data-toggle="tab" class="">
                    <a [routerLink]="['child-content']"
                       [queryParams]="{'category':43, 'sort':'full'}">Full</a>
                </li>
            </ul>


            <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <router-outlet></router-outlet>

            </div>
        </div>
        <div  class="col-lg-3 col-md-3 hidden-xs hidden-sm">
            <div id="sidebar" class="sidebar-nav-fixed  pull-right affix">
                <div class="well">
                    <ul class="nav ">
                        <li class="nav-header">Popular tags</li>
                        <li>
                            <a href="#">Tag1</a>
                        </li>
                        <li>
                            <a href="#">Tag2</a>
                        </li>
                        <li>
                            <a href="#">Tag3</a>
                        </li>
                        <li>
                            <a href="#">Tag4</a>
                        </li>
                        <li>
                            <a href="#">Tag5</a>
                        </li>
                        <li>
                            <a href="#">Tag6</a>
                        </li>
                        
                    </ul>
                </div>

                <div class="well">
                    <div class="nav ">
                       <p>fdsadshasdhfgsadgf<br />asgdfgjkasdgfasfasgdf<br />
                        asdasdasd
                        asd</p>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
