<div [(ngClass)]="theme" class="container-fluid">
    <span defaultOverlayTarget></span>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div *ngIf="roleinfo.adminRole || roleinfo.id==instruction.author.id" class="text-right admin panel-heading">
                <a class="deleteinstruction" (click)="deleteInstructionModal()" ><i class="glyphicon glyphicon-remove"></i><span> Delete Instruction</span></a>
            </div>
            <span class="name col-md-10 col-lg-11 col-sm-8 col-xs-8">{{instruction.name}} </span>
            <div class="rating col-md-2 col-lg-1 col-sm-4 col-xs-4">
                <star-rating-comp  [starType]="'svg'"
                                  [step]="0.1"
                                  [speed]="'slow'"
                                  [rating]="setrating(instruction.ratingRelation)"
                                  [staticColor]="'default'"
                                  [showHalfStars]="true"
                                  (onClick)="onClick($event,instruction.id)">
                </star-rating-comp>
            </div>
            <div class="tag" style="display:inline;">
                <span class="glyphicon glyphicon-cloud">
                    <span class="text-muted " *ngFor="let tag of instruction.tagsRelation">
                        <a [(ngClass)]="theme" [routerLink]="['../search']"
                           [queryParams]="{'q':tag.tag.name,'tag':true}">#{{tag.tag.name}} </a>
                    </span>
                </span>
                <span class="pull-right" (click)="goToEdit()"><i class="glyphicon glyphicon-pencil"></i></span>
            </div>
        </div>
        <div class="panel-body">
            <swiper #mainSwiper (indexChange)="onIndexChange($event)" [config]="mainViewSiper">
                <stepView *ngFor="let step of instruction.step" [step]="step" [theme]="theme"></stepView>
            </swiper>
        </div>
        <div class="panel-footer">
            <swiper #miniSwiper (indexChange)="onIndexChange($event)" [config]="miniSwiperConfig">
                <span style="height:50px;width:50px;background-color:white" *ngFor="let step of instruction.step" class="swiper-slide miniSlide well">
                {{ 'Step' | translate:lang }} {{instruction.step.indexOf(step)+1}}</span>
            </swiper>
            <div style="text-align:right">
                <span class="">{{ 'Author' | translate:lang }}: {{instruction.author.fullName}}</span>
            </div>
        </div>
    </div>
    <comment [comment]="instruction.comment" [idInstruction]="instruction.id" [theme]="theme"></comment>
</div>