<div [(ngClass)]="theme">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-eye-open pull-right" (click)="swapMode($event)"></span>
            <h3>{{ 'Instruction Constructor' | translate:lang }}</h3>
        </div>
        <div class="panel-body">
            <div  class="form">
                <span *ngIf="instvalidate.Name instForm" class="text-danger">{{ 'NullName' | translate:lang }}</span>
                <input type="text" class="form-control instForm" [(ngModel)]="Inst.name" placeholder="{{ 'Instruction name' | translate:lang }}" />
                <span *ngIf="instvalidate.Tag instForm" class="text-danger">{{ 'NullTag' | translate:lang }}</span>
                <tag-input [(ngClass)]="theme" class="instForm" [(ngModel)]='tagsArray' [displayBy]="'name'"
                           [identifyBy]="'name'">
                    <tag-input-dropdown [showDropdownIfEmpty]="true"
                                        [displayBy]="'name'"
                                        [identifyBy]="'name'"
                                        [autocompleteObservable]='requestAutocompleteItems'>
                    </tag-input-dropdown>
                </tag-input>
                <span class="instForm"><strong>{{ 'Category' | translate:lang }}</strong></span>
                <span *ngIf="instvalidate.Category instForm" class="text-danger instForm">{{ 'NullCategory' | translate:lang }}</span>
                <select [(ngModel)]="Inst.category" class="form-control instForm">
                    <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
                </select>
            </div>
            <span *ngIf="instvalidate.PrevievText" class="text-danger">{{ 'NullPreview' | translate:lang }}</span>
            <accordion class="previevDropDown">
                <accordion-group>
                    <div accordion-heading>
                        {{ 'Preview' | translate:lang }}
                        <i class="pull-right float-xs-right glyphicon glyphicon-chevron-down"></i>
                    </div>
                    <div class="text-center">
                        <h3 style="padding:0;" class="text-left textpreview">{{ 'Instruction Image' | translate:lang }}:</h3>
                        <img *ngIf="Inst.previewImage" class="img-responsive" src="{{Inst.previewImage}}">
                        <img *ngIf="!Inst.previewImage" class="img-responsive" src="http://markell.by/templates/default/img/noimage/430x430.jpg">
                    </div>
                    <button type="button" class="loadimage btn btn-default  glyphicon glyphicon-picture" (click)="redirectToInput(imgInput)">{{ 'Load Image' | translate:lang }}</button>
                    <input #imgInput type="file" (change)="saveFile($event)" style="display:none" />
                    <h3 style="padding:0;" class="textpreview">{{ 'Instruction description' | translate:lang }}:</h3>
                    <div class="content_block_type_text textBox" [(innerHTML)]="Inst.previewText" (focusout)="textBoxFocusOut($event)" role="textbox" contenteditable="true" aria-multiline="true">
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body panle_body_main">
            <span *ngIf="instvalidate.Step instForm" class="text-danger instForm">{{ 'NullStep' | translate:lang }}</span>
            <swiper *ngIf="viewS" #mainSwiper [config]="mainSwiperConfig" (indexChange)="onIndexChange($event)">
                <my-stepEditor *ngFor="let step of Inst.step" class="swiper-slide mySlide" style="box-sizing:border-box" [step]="step"></my-stepEditor>
            </swiper>
            <swiper *ngIf="!viewS" #mainPreView [config]="mainSwiperConfig" (indexChange)="onIndexChange($event)">
                <stepView *ngFor="let step of Inst.step" class="swiper-slide mySlide" style="box-sizing:border-box" [step]="step" [theme]="theme"></stepView>
            </swiper>
        </div>
        <div class="panel-footer">
            <swiper #miniSwiper class="container" [config]="miniSwiperConfig" (indexChange)="onIndexChange($event)">
                <div [(ngClass)]="theme" *ngFor="let step of Inst.step" class="well slide-mini">
                    <span class="glyphicon glyphicon-remove pull-right" (click)="removeStep(step)"></span>
                    <span>{{ 'Step' | translate:lang }} {{Inst.step.indexOf(step)+1}}</span>
                </div>
                <span class="slide-mini well glyphicon glyphicon-plus text-center" style="width:70px;height:70px" (click)="add()"></span>
            </swiper>
            <div>
                <button type="submit" class="btn btn-success pull-right" (click)="save()">{{ 'Save' | translate:lang }}</button>
            </div>
        </div>
    </div>
</div>