<link rel="stylesheet" href="~/css/InstructionEditor.css" />

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Instruction construction</h3>
    </div>
    <div class="panel-body">
        <div class="form">
            <input type="text" class="form-control instForm" [value]="Inst.name" placeholder="Instruction name" />
            <input type="text" class="form-control instForm" [value]="Inst.tag" placeholder="tags.." />
        </div>
        <accordion class="previevDropDown">
            <accordion-group>
                <div accordion-heading>
                    Previev
                    <i class="pull-right float-xs-right glyphicon"
                       [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
                </div>
                <div class="content_block_type_text" role="textbox" contenteditable="true" aria-multiline="true">
                    <p class="textBox" data-text="about"></p>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body panle_body_main">
        <swiper #mainSwiper [config]="mainSwiperConfig" (indexChange)="onIndexChange($event)">
            <my-stepEditor *ngFor="let step of Inst.step" class="swiper-slide mySlide" style="box-sizing:border-box" [step]="step"></my-stepEditor>
        </swiper>
    </div>
    <div>
        <swiper #miniSwiper [config]="miniSwiperConfig" (indexChange)="onIndexChange($event)">
            <span style="height:50px;width:50px;background-color:white" [dragula]="'stepD'" *ngFor="let step of Inst.step" class="swiper-slide miniSlide well">{{step.subtitle}}</span>
            <div class="swiper-slide miniSlide">
                <button #btn (click)="add(btn)">add</button>
                <button #btn (click)="cw(Inst)">info</button>
            </div>
        </swiper>
        <div>
            <button (click)="saveInst()">Save</button>
            <button (click)="updateInst()">Update</button>
        </div>
    </div>
</div>

        

