<div class="row">
    <div class="profile" >
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center" id="profile_img">
                            <img *ngIf="user.avatar"  class="thumbnail img-responsive" src="{{user.avatar}}" >
                            <img *ngIf="!user.avatar" class="thumbnail img-responsive" src="http://www.newsshare.in/wp-content/uploads/2017/04/Miniclip-8-Ball-Pool-Avatar-15.png">
                        </div>
                        <div class="media-body">
                            <hr>
                            <div>
                                <h3><strong>{{ 'About Me' | translate:lang }}</strong><span class="pull-right small glyphicon glyphicon-pencil editable" (click)="editDate('interestsBox')"></span></h3>
                                <input id="interestsBox" type="text" class="editableTarget" disabled="disabled" [(ngModel)]="user.interests"  style="border:none" [value]="user.interests" />
                            </div>
                            <hr>
                            <div>
                                <h3><strong>{{ 'Birthday' | translate:lang }} </strong><span class="pull-right small glyphicon glyphicon-pencil editable" (click)="editDate('birthdayBox')"></span></h3>
                                <input id="birthdayBox" type="date" class="editableTarget" disabled="disabled" [value]="user.birthday | date:'yyyy-MM-dd'" style="border:none"   (input)="user.birthday=parseDate($event.target.value)"/>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <div><span class="pull-right small glyphicon glyphicon-pencil editable" (click)="editDate('nameBox')"></span></div>
                        <input id="nameBox" type="text" class="editableTarget pull-left h1Input" disabled="disabled" [(ngModel)]="user.fullName" style="border:none" [value]="user.fullName" />
                    </div>
                    <br><br>
                    <span><strong></strong></span>
                    <hr style="margin-top:5px;">
                    <span class="pull-left">
                        <img class="achivmets" style="height:60px;" src="https://lh4.ggpht.com/kNDhHm6fpKdO9EqhC-EkUP_gQZ7Ixj-qa6ZP4sg0EEspY60BkukqTn-wz_MJE0CIS31O=w300" />
                        <img class="achivmets" style="height:60px;" src="https://lh4.ggpht.com/kNDhHm6fpKdO9EqhC-EkUP_gQZ7Ixj-qa6ZP4sg0EEspY60BkukqTn-wz_MJE0CIS31O=w300" />
                        <img class="achivmets" style="height:60px;" src="https://lh4.ggpht.com/kNDhHm6fpKdO9EqhC-EkUP_gQZ7Ixj-qa6ZP4sg0EEspY60BkukqTn-wz_MJE0CIS31O=w300" />
                        <img class="achivmets" style="height:60px;" src="https://lh4.ggpht.com/kNDhHm6fpKdO9EqhC-EkUP_gQZ7Ixj-qa6ZP4sg0EEspY60BkukqTn-wz_MJE0CIS31O=w300" />
                    </span>
                </div>
            </div>
            <hr>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <router-outlet></router-outlet>
            </div>
            
        </div>
    </div>
    
</div>


