<div class="row">
    <span defaultOverlayTarget></span>
    <div [(ngClass)]="theme" class="profile">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div [(ngClass)]="theme" class="panel panel-default">
                <div *ngIf="roleinfo.adminRole && roleinfo.id!=user.id" class="admin panel-heading">
                    <a class="deleteuser" (click)="deleteUserModal()"><i class="glyphicon glyphicon-remove"></i><span> Delete User</span></a>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div align="center" id="profile_img">
                            <img *ngIf="user.avatar" class="thumbnail img-responsive" src="{{user.avatar}}">
                            <img *ngIf="!user.avatar" class="thumbnail img-responsive" src="http://www.newsshare.in/wp-content/uploads/2017/04/Miniclip-8-Ball-Pool-Avatar-15.png">
                            <button *ngIf="roleinfo.id==user.id || roleinfo.adminRole" type="button" class="btn btn-default  glyphicon glyphicon-picture" (click)="redirectToInput(imgInput)"> Load Image</button>
                            <input #imgInput type="file" (change)="saveFile($event)" style="display:none" />
                        </div>
                        <div class="media-body">
                            <hr>
                            <div>
                                <h3><strong>{{ 'About Me' | translate:lang }}</strong><span *ngIf="roleinfo.id==user.id || roleinfo.adminRole" class="pull-right small glyphicon glyphicon-pencil editable" (click)="editDate('interestsSpan')"></span></h3>
                                <span id="interestsSpan" disabled="disabled"  contenteditable="false" [innerHTML]="user.interests" ></span>
                            </div>
                            <hr>
                            <div>
                                <h3><strong>{{ 'Birthday' | translate:lang }} </strong><span *ngIf="roleinfo.id==user.id || roleinfo.adminRole" class="pull-right small glyphicon glyphicon-pencil editable" (click)="editDate('birthdayBox')"></span></h3>
                                <input id="birthdayBox" type="date" class="editableTarget" disabled="disabled" [value]="user.birthday | date:'yyyy-MM-dd'" style="border:none" (input)="user.birthday=parseDate($event.target.value)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div [(ngClass)]="theme" class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <div><span *ngIf="roleinfo.id==user.id || roleinfo.adminRole" class="pull-right s glyphicon glyphicon-pencil editable" (click)="editDate('nameBox')"></span></div>
                        <input id="nameBox" type="text" class="editableTarget pull-left h1Input" disabled="disabled" [(ngModel)]="user.fullName" style="border:none" [value]="user.fullName" />
                    </div>
                    <br />
                    <hr>
                    <div class="row" *ngIf="statisticsuser">
                        <small style="padding-left:10px;">
                            Count add Instructions: {{statisticsuser.countInstructions}};
                            Count add Coments: {{statisticsuser.countComment}};
                            Average user ratings: {{statisticsuser.averageRating}};
                        </small>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <child-content [theme]="theme"></child-content>
            </div>
        </div>
    </div>
</div>