@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="categories">
            
               <h2>Search Results for {{searchyQueryParams}}</h2>
           
        </div>
        <hr />

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <router-outlet></router-outlet>

        </div>
    </div>
    <div class="col-lg-3 col-md-3 hidden-xs hidden-sm">
        <div id="sidebar" class="sidebar-nav-fixed  pull-right affix">
            <div class="well">
                <ul class="nav ">
                    <li class="nav-header">{{ 'Popular tag' | translate:lang }}</li>
                    <li *ngFor="let tag of tags; let i = index">
                        <a [routerLink]="['../search']"
                       [queryParams]="{'q':tag.name,'tag':true}">#{{tag.name}}</a>
                    </li>

                </ul>
            </div>


            <div class="well">
                <div class="nav ">
                    <p>
                        fdsadshasdhfgsadgf<br />asgdfgjkasdgfasfasgdf<br />
                        asdasdasd
                        asd
                    </p>

                </div>
            </div>
        </div>
    </div>

</div>

