<div class="container contentBody">
    <span defaultOverlayTarget></span>
    <div class="row step_info">
        <div class="col-xs-12 form-group">
            <input type="text" class="form-control" placeholder="Step name" [value]="step.subtitle"/>
        </div>
    </div>
    <div class="row step_body panel panel-default">
        <div class="panel-body" [dragula]="step.id" [dragulaModel]="contentBlocks">
            <div class="row contentBlock" *ngFor="let block of step.contentBlock" >
                <div class="contetnRow">
                    <div class="pull-left" style="margin-left:-16px;">
                        <span class="glyphicon glyphicon-move"></span>
                    </div>
                    <div class="pull-right" style="margin-right:-16px;">
                        <span class="glyphicon glyphicon-remove delete" (click)="boxDelete(block)"></span>
                    </div>
                    <div [ngSwitch]="block.type">
                        <template ngSwitchCase="text">
                            <div class="content_block_type_text" (keypress)="textBoxKeyup($event,block)" role="textbox" contenteditable="true" aria-multiline="true">
                            </div>
                        </template>
                        <template ngSwitchCase="img">
                            <div class="content_block_type_pictire">
                                <img class="pictireBox" [(src)]="block.content"/>
                            </div>
                        </template>
                        <template ngSwitchCase="video">
                            <div class="content_block_type_video">
                                <iframe [(src)]="block.content" frameborder="0" allowfullscreen>
                                </iframe>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center add_panel">
                <button type="button" class="btn btn-default btn-circle btn-lg glyphicon glyphicon-pencil" (click)="textBoxAdd()"></button>
                <button type="button" class="btn btn-default btn-circle btn-lg glyphicon glyphicon-picture" (click)="redirectToInput(imgInput)"></button>
                <button type="button" class="btn btn-default btn-circle btn-lg glyphicon glyphicon-facetime-video" (click)="videoBoxModal()"></button>
                <input  #imgInput type="file" (change)="saveFile($event)" style="display:none" />
            </div>
        </div>
    </div>
</div>


