<div>
    <div class="modal-header">
        <button type="button" class="close" (click)="modalClose()" click data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="modal-body form-group" style="display:flex">
        <input #linckSrck id="videoUrlInput" class="form-control" placeholder="url..." type="text" />
        <button class="btn" style="margin-left:5px" (click)="load(linckSrck)">{{ 'Load' | translate:lang }}</button>
    </div>
</div>
