.light .panel {
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.84);
    box-shadow: rgba(0, 0, 0, 0.3) 6px 6px 6px;
}
    .light .panel .panet-footer {
        background-color: #f5f5f5;
    }

    .light .panel .panel-header {
        background-color: #f5f5f5;
        border-bottom: 1px solid #ddd;
    }
        /*.light .panel .panel-header .tag .text-muted > a {
            color: #ddd;
        }*/
        
a.light:hover{
    color:darkgray;
    font:normal;
    }

a.light{
    color:gray;
}