.light .glyphicon-search {
    color: black;
}

.light {
    background-color: #f5f6ff;
}

    .light .navbar {
        background-color: #252839;
        color: white;
    }
div.light {
    min-height: 100%;
}




.dark {
    background-color: #141934;
}

    .dark > .navbar {
        background-color: #717272;
        color: #ffffff;
    }

    .dark .glyphicon-search {
        color: black;
    }

div.dark {
    min-height: 100%;
}

form:hover {
    background-color: none;
}
