
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}



.categories {
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    vertical-align: central;
    font-size: xx-large;
}

select{
    max-width:300px;
    display:inline;
}

.modal-header{
    display:inline;
}

.panel-default {
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 6px 6px 6px;
}

.well {
   
    box-shadow: rgba(0, 0, 0, 0.3) 6px 6px 6px;
}

.name{
    font-size:x-large;
    left:10px;

}
.tag {
    margin-left:10px;
}
.rating {
    padding-top: 10px;
}
.paneltextbody{
    padding-top:15px;
}

.panel-footer {
    text-align: right;
}

#sidebar {
    width: 20%;
    max-width: 300px;
    padding-top:20px;
}

.well{
    padding-top:20px;
}
span {
    word-wrap: break-word;
}

 .col-md-12, .col-lg-12 {
    padding-left: 0;
    padding-right: 0;
}

.profile-link:hover {
    cursor:pointer;
    color: black;
}
hr {
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
}
