.block {
    height:100px;
}
button {
    margin: 10px;
}
.submit {
   
 text-align: right;
}

div.panel-body {
    padding:0px;
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.panel-white {
    border: 1px solid #dddddd;
}


.post .post-heading {
    height: 95px;
    padding: 20px 15px;
}

.post .post-heading .avatar {
        width: 60px;
        height: 60px;
        display: block;
        margin-right: 15px;
}

.post .post-heading .meta .title {
     margin-bottom: 0;
}

.post .post-heading .meta .title a {
    color: black;
}
.post .post-heading .meta .title a:hover {
    color: #aaaaaa;
}
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0;
    padding-right: 0;
}
.post .post-heading .meta .date {
 margin-top: 8px;
 color: #999;
}


.post .post-description {
    padding: 15px;
}

.post .post-description p {
   font-size: 14px;
}

  
.post .post-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
}

p{
    word-break: break-all;
    white-space: normal;
}

div {
    word-wrap: break-word;
}
i:hover{
    color:gray;
}

