.mySlide {
    padding:13px;
}

.miniSlide {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.miniSwiperContainerhorizontal {
    background-color: whitesmoke;
    border-top: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.slide-activMini {
    border-color: red;
}

.previevDropDown {
    margin: 5px -6px 5px 2px;
}
.panle_body_main{
    padding: 0px 5px 0px 5px;
}

.mainWrapper {
    margin-bottom: -20px;
}

.contentBody{
    padding-right:90px;
    padding-left:20px;
}

@media(max-width:750px) {
    .contentBody {
        padding-right: 20px;
        padding-left: 20px;
    }
}

.instForm {
    margin: 5px;
}