.swiper-button-prev, .swiper-button-next {
    width: 25px;
    height: 70px;
    color: rgba(92, 184, 92, 1);
}

.textpreview {
    padding-left:14px;
}

.loadimage {
    margin-top:10px;
}
.swiper-button-prev {
    left: 0px;
}

.swiper-button-prev {
    right: 0px;
} 

.slide-mini {
        margin: 5px;
        background-color: whitesmoke;
    }

.panel-footer{
    padding-bottom:40px;
}

.miniSwiperContainerhorizontal {
    background-color: whitesmoke;
    border-top: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.slide-activMini {
    border-color: #007aff;
}

.previevDropDown {
    margin: 5px -6px 5px 2px;
}
.panle_body_main{
    padding: 0px 5px 0px 5px;
}

.mainWrapper {
    margin-bottom: -20px;
}


.instForm {
    margin: 5px;
}
.container-fluid {
    padding-top: 15px;
}
