
.name {
    font-size: x-large;
  
}

.swiper-button-prev, .swiper-button-next {
    width: 25px;
    height: 70px;
    color: rgba(92, 184, 92, 1);
}

.swiper-button-prev {
    left: 0px;
}

.swiper-button-prev {
    right: 0px;
} 

.tag {
    margin-left: 10px;
}

.rating {
    padding-top: 10px;
}

.slide-activMini {
    border-color: #007aff;
}

.container-fluid{
    padding-top:15px;
}