
.name {
    font-size: x-large;
  
}
.admin .glyphicon-remove{
    color:red;
}

.swiper-button-prev, .swiper-button-next {
    width: 25px;
    height: 70px;
    color: rgba(92, 184, 92, 1);
}

.swiper-button-prev {
    left: 0px;
}

.swiper-button-prev {
    right: 0px;
} 

.tag{
    padding-left:20px;
}

.rating {
    padding-top: 5px;
    padding-bottom: 5px;
}

.slide-activMini {
    border-color: #007aff;
}

.container-fluid{
    padding-top:15px;
}
