
body {
    font-family: 'Nunito', sans-serif;
}
textarea {
    border: none;
    background-color: white;
    height: auto;
    resize: none;
}

.profile {
padding-top:20px;
}
.panel-default {
    box-shadow: rgba(0, 0, 0, 0.3) 6px 6px 6px;
}
hr {
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
}
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0;
    padding-right: 0;
}
.slim_header {
    font-size: medium;
    word-wrap: break-word;
    background-color: #DEE5EB;
    position: unset;
    padding: 5px 7px;
    margin-top: -1px;
    margin-bottom: 0px;
    color: #657e9b;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
}

.avatar {
    padding: initial;
    margin-left: 5px;
    margin-right: 5px;
}

.about {
    padding: initial;
    padding-left:5px;
}

.userName{
    color:darkslategray;
    letter-spacing:-.5px;
    margin:unset;
}

.pinfo_berhtday {
    font-size: small;
    color: lightslategray;
    letter-spacing: -.6px;
}

.profile_panel{
    padding:12px;
}

.pblock{
    padding:5px;
    margin:initial;
}

.editable {
    color: #777;
}

input[disabled].editableTarget {
    background-color: transparent;
}

.h1Input {
    border: none;
    font-size: 30px;
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}
.col-lg-3, .col-md-3{
    padding-left:0;
}

