
textarea {
    border: none;
    background-color: white;
    height: auto;
    resize: none;
}

.profile {
padding-top:20px;
}

hr {
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
}
.col-md-12, .col-lg-12 {
    padding-left: 0;
    padding-right: 0;
}



.about {
    padding: initial;
    padding-left:5px;
}

.userName{
    color:darkslategray;
    letter-spacing:-.5px;
    margin:unset;
}

.pinfo_berhtday {
    font-size: small;
    color: lightslategray;
    letter-spacing: -.6px;
}

.profile_panel{
    padding:12px;
}

.pblock{
    padding:5px;
    margin:initial;
}

.editable {
    color: #777;
}

input[disabled].editableTarget {
    background-color: transparent;
}

.h1Input {
    border: none;
    font-size: 30px;
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.deleteuser {
    float:right;
}
.deleteuser>i{
    color:red;
}
    .deleteuser > span {
        color: #000000;
    }

.deleteuser:hover {
    color: #900101;
}



.admin{
    height:40px;
}

@media screen and (max-width: 768px) {
  
    #profile_img{
        text-align:center;
    }
}