.dark {
    background-color: #252839;
    color: #f2b632;
}
    .dark > .navbar {
        background-color: #677077;
        color: #f2b632;
    }
    .dark .well{
        background:red;
    }
    
        


.light {
    background-color: #feffff;
}

    .light .navbar {
        background-color: #312c32;
    }

div.dark{
    min-height:100%;
}

form:hover{
    background-color:none;
}